@media (min-width: 0px) and (max-width: 50px) {
  #moveBox {
    right: 950px;
  }
}
@media (min-width: 50px) and (max-width: 100px) {
  #moveBox {
    right: 925px;
  }
}
@media (min-width: 100px) and (max-width: 150px) {
  #moveBox {
    right: 900px;
  }
}
@media (min-width: 150px) and (max-width: 200px) {
  #moveBox {
    right: 875px;
  }
}
@media (min-width: 200px) and (max-width: 250px) {
  #moveBox {
    right: 850px;
  }
}
@media (min-width: 250px) and (max-width: 300px) {
  #moveBox {
    right: 825px;
  }
}
@media (min-width: 300px) and (max-width: 350px) {
  #moveBox {
    right: 800px;
  }
}
@media (min-width: 350px) and (max-width: 400px) {
  #moveBox {
    right: 775px;
  }
}
@media (min-width: 400px) and (max-width: 450px) {
  #moveBox {
    right: 750px;
  }
}
@media (min-width: 450px) and (max-width: 500px) {
  #moveBox {
    right: 725px;
  }
}
@media (min-width: 500px) and (max-width: 550px) {
  #moveBox {
    right: 700px;
  }
}
@media (min-width: 550px) and (max-width: 600px) {
  #moveBox {
    right: 675px;
  }
}
@media (min-width: 600px) and (max-width: 650px) {
  #moveBox {
    right: 650px;
  }
}
@media (min-width: 650px) and (max-width: 700px) {
  #moveBox {
    right: 625px;
  }
}
@media (min-width: 700px) and (max-width: 750px) {
  #moveBox {
    right: 600px;
  }
}
@media (min-width: 750px) and (max-width: 800px) {
  #moveBox {
    right: 575px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  #moveBox {
    right: 550px;
  }
}
@media (min-width: 850px) and (max-width: 900px) {
  #moveBox {
    right: 525px;
  }
}
@media (min-width: 900px) and (max-width: 950px) {
  #moveBox {
    right: 500px;
  }
}
@media (min-width: 950px) and (max-width: 1000px) {
  #moveBox {
    right: 475px;
  }
}
@media (min-width: 1000px) and (max-width: 1050px) {
  #moveBox {
    right: 450px;
  }
}
@media (min-width: 1050px) and (max-width: 1100px) {
  #moveBox {
    right: 425px;
  }
}
@media (min-width: 1100px) and (max-width: 1150px) {
  #moveBox {
    right: 400px;
  }
}
@media (min-width: 1150px) and (max-width: 1200px) {
  #moveBox {
    right: 375px;
  }
}
@media (min-width: 1200px) and (max-width: 1250px) {
  #moveBox {
    right: 350px;
  }
}
@media (min-width: 1250px) and (max-width: 1300px) {
  #moveBox {
    right: 325px;
  }
}
@media (min-width: 1300px) and (max-width: 1350px) {
  #moveBox {
    right: 300px;
  }
}
@media (min-width: 1350px) and (max-width: 1400px) {
  #moveBox {
    right: 275px;
  }
}
@media (min-width: 1400px) and (max-width: 1450px) {
  #moveBox {
    right: 250px;
  }
}
@media (min-width: 1450px) and (max-width: 1500px) {
  #moveBox {
    right: 225px;
  }
}
@media (min-width: 1500px) and (max-width: 1550px) {
  #moveBox {
    right: 200px;
  }
}
@media (min-width: 1550px) and (max-width: 1600px) {
  #moveBox {
    right: 175px;
  }
}
@media (min-width: 1600px) and (max-width: 1650px) {
  #moveBox {
    right: 150px;
  }
}
@media (min-width: 1650px) and (max-width: 1700px) {
  #moveBox {
    right: 125px;
  }
}
@media (min-width: 1700px) and (max-width: 1750px) {
  #moveBox {
    right: 100px;
  }
}
@media (min-width: 1750px) and (max-width: 1800px) {
  #moveBox {
    right: 75px;
  }
}
@media (min-width: 1800px) and (max-width: 1850px) {
  #moveBox {
    right: 50px;
  }
}
@media (min-width: 1850px) and (max-width: 1900px) {
  #moveBox {
    right: 25px;
  }
}
@media (min-height: 0px) and (max-height: 50px) {
  #moveBox {
    bottom: 450px;
  }
}
@media (min-height: 50px) and (max-height: 100px) {
  #moveBox {
    bottom: 425px;
  }
}
@media (min-height: 100px) and (max-height: 150px) {
  #moveBox {
    bottom: 400px;
  }
}
@media (min-height: 150px) and (max-height: 200px) {
  #moveBox {
    bottom: 375px;
  }
}
@media (min-height: 200px) and (max-height: 250px) {
  #moveBox {
    bottom: 350px;
  }
}
@media (min-height: 250px) and (max-height: 300px) {
  #moveBox {
    bottom: 325px;
  }
}
@media (min-height: 300px) and (max-height: 350px) {
  #moveBox {
    bottom: 300px;
  }
}
@media (min-height: 350px) and (max-height: 400px) {
  #moveBox {
    bottom: 275px;
  }
}
@media (min-height: 400px) and (max-height: 450px) {
  #moveBox {
    bottom: 250px;
  }
}
@media (min-height: 450px) and (max-height: 500px) {
  #moveBox {
    bottom: 225px;
  }
}
@media (min-height: 500px) and (max-height: 550px) {
  #moveBox {
    bottom: 200px;
  }
}
@media (min-height: 550px) and (max-height: 600px) {
  #moveBox {
    bottom: 175px;
  }
}
@media (min-height: 600px) and (max-height: 650px) {
  #moveBox {
    bottom: 150px;
  }
}
@media (min-height: 650px) and (max-height: 700px) {
  #moveBox {
    bottom: 125px;
  }
}
@media (min-height: 700px) and (max-height: 750px) {
  #moveBox {
    bottom: 100px;
  }
}
@media (min-height: 750px) and (max-height: 800px) {
  #moveBox {
    bottom: 75px;
  }
}
@media (min-height: 800px) and (max-height: 850px) {
  #moveBox {
    bottom: 50px;
  }
}
@media (min-height: 850px) and (max-height: 900px) {
  #moveBox {
    bottom: 25px;
  }
}
