<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
    <!--<link rel="stylesheet" href="css/bootstrap.css">-->
    <!--<link rel="stylesheet" href="css/iconfont.css">-->
    <!--<script src="js/jquery.js"></script>-->
    <!--<script src="js/angular.js"></script>-->
    <!--<script src="js/bootstrap.js"></script>-->
    <!--<script src="js/ui-bootstrap-tpls.js"></script>-->
<!--</head>-->
<!--<body ng-app="app">-->
<!--<div ng-controller="testCtrl">-->

    <!--&lt;!&ndash;<form name="reportBugForm" style="padding:15px 20px">&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="text" ng-model="description" style="margin-bottom:15px;width:100%" placeholder="问题描述" required=""&ndash;&gt;-->
    <!--&lt;!&ndash;class="form-control"/>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="input-group">&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="text" id="inputCover" placeholder="选择图片" class="form-control"/>&ndash;&gt;-->
    <!--&lt;!&ndash;<div ng-click="test()" style="cursor:pointer" class="input-group-addon">浏览</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="file" id="choose" multiple="multiple" style="display:none" class="form-control"/>&ndash;&gt;-->
    <!--&lt;!&ndash;</form>&ndash;&gt;-->

    <!--&lt;!&ndash;动态添加input框&ndash;&gt;-->
    <!--<form class="form-horizontal">-->
        <!--<label class="col-sm-2 control-label">问题反馈:</label>-->

        <!--<div class="col-sm-10">-->
            <!--<div ng-repeat="domain in info.operate">-->
                <!--<div class="form-group">-->
                <!--<label class="control-label col-sm-1" for="domain{{$index + 1}}">图片{{$index + 1}}</label>-->
                <!--<div class="col-sm-9">-->
                <!--&lt;!&ndash;ng-disabled="!$index"&ndash;&gt;-->
                <!--<input type="file"-->
                <!--onchange='angular.element(this).scope().fileChanged(this)'-->
                <!--id="domain{{$index + 1}}"-->
                <!--class="form-control"-->
                <!--multiple/>-->

                <!--</div>-->


                <!--&lt;!&ndash;<div class="input-group"><input type="text" ng-model="domain.value" placeholder="图片路径"&ndash;&gt;-->
                                                <!--&lt;!&ndash;class="form-control"/>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div ng-click="chooseImg()" style="cursor:pointer" class="input-group-btn">&ndash;&gt;-->
                        <!--&lt;!&ndash;<button type="button" class="btn btn-default">选择图片</button>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<i ng-click="info.add($index)" class="iconfont icon-add"></i><i&ndash;&gt;-->
                            <!--&lt;!&ndash;ng-click="info.delete($index)" ng-show="$index"&ndash;&gt;-->
                            <!--&lt;!&ndash;class="iconfont icon-delete"></i><i ng-click="clear()" ng-show="!$index"&ndash;&gt;-->
                                                                <!--&lt;!&ndash;class="iconfont icon-delete"></i></div>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="file" onchange="angular.element(this).scope().fileChanged(this)"&ndash;&gt;-->
                       <!--&lt;!&ndash;id="domain{{$index + 1}}" style="display:none" multiple="multiple"&ndash;&gt;-->
                       <!--&lt;!&ndash;class="form-control"/></div>&ndash;&gt;-->
        <!--</div>-->
            <!--</div>-->

        <!--&lt;!&ndash;<div class="col-sm-2">&ndash;&gt;-->
        <!--&lt;!&ndash;<i class="iconfont icon-add" style="font-size: 23px;color: #4cae4c;margin-right: 10px" ng-disabled="info.operate.length >= 4" ng-click="info.add($index)"></i>&ndash;&gt;-->
        <!--&lt;!&ndash;<i class="iconfont icon-delete" style="font-size: 23px;color: red;"&ndash;&gt;-->
        <!--&lt;!&ndash;ng-click="info.delete($index)" ng-show="$index"></i>&ndash;&gt;-->
        <!--&lt;!&ndash;<i class="iconfont icon-delete" style="font-size: 23px;color: red;" ng-click="info.clear()"&ndash;&gt;-->
        <!--&lt;!&ndash;ng-show="!$index"></i>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->


        <!--<div class="col-sm-offset-3">-->
            <!--<button type="button" class="btn btn-primary" ng-click="info.result()">结果</button>-->
        <!--</div>-->

    <!--</form>-->

<!--</div>-->
<!--<script>-->
    <!--angular.module('app', ['ng', 'ui.bootstrap', 'ui.bootstrap.modal'])-->
        <!--.controller('testCtrl', function ($scope, $uibModal, $log) {-->
            <!--$scope.test = function () {-->
                <!--angular.element("input[id=choose]").click();-->
            <!--};-->
            <!--$scope.fileName = [];-->
            <!--angular.element('input[id=choose]').change(function () {-->
                <!--var index, j, len, ref, value;-->
                <!--$scope.files = document.querySelector('input[id=choose]').files;-->
                <!--ref = $scope.files;-->
                <!--for (index = j = 0, len = ref.length; j < len; index = ++j) {-->
                    <!--value = ref[index];-->
                    <!--$scope.fileName[index] = value.name;-->
                <!--}-->
                <!--return angular.element('input[id=inputCover]').val($scope.fileName);-->
            <!--});-->


<!--//            //动态添加input框-->
<!--//            $scope.info = {};-->
<!--//            $scope.info.operate = [];-->
<!--//            // 假设这是数据来源-->
<!--//            var simp = [''];-->
<!--//            angular.forEach(simp, function (data, index) {-->
<!--//                $scope.info.operate.push({key: index, value: data});-->
<!--//            });-->
<!--//            // 增加-->
<!--//            $scope.info.add = function ($index) {-->
<!--//                $scope.info.operate.splice($index + 1, 0, {key: $index + 1, value: ""});-->
<!--//            };-->
<!--//            // 删除-->
<!--//            $scope.info.delete = function ($index) {-->
<!--//                $scope.info.operate.splice($index, 1);-->
<!--//            };-->
<!--//            //clear first-->
<!--//            $scope.info.clear = function () {-->
<!--//                $scope.info.operate.splice(0, 1, {key: 0, value: ""});-->
<!--//            };-->
<!--//            //append value-->
<!--//            $scope.fileChanged = function (element) {-->
<!--//                console.log(document.querySelector('input[type=file]').files[0]);-->
<!--//                var index = element.id.charAt(element.id.length - 1);-->
<!--//                $scope.info.operate[index - 1].value = element.files[0].name;-->
<!--//                $scope.$apply();-->
<!--//            };-->
<!--//            // 结果-->
<!--//            $scope.info.result = function () {-->
<!--//                console.log($scope.info.operate)-->
<!--//            };-->
<!--//-->
<!--//            $scope.chooseImg = function () {-->
<!--//                angular.element('input[type=file]').click()-->
<!--//            }-->
        <!--})-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
<!doctype html>
<html lang="en">
<head>
    <!--网站编码格式，UTF-8 国际编码，GBK或 gb2312 中文编码-->
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="Keywords" content="关键词一，关键词二">
    <meta name="Description" content="网站描述内容">
    <meta name="Author" content="Yvette Lau">
    <title>Document</title>
    <!--css js 文件的引入-->
    <style>
        .word{background:#E4FFE9;width:250px;margin:50px auto;padding:20px;font-family:"microsoft yahei";}
        /* 强制不换行 */
        .nowrap{white-space:nowrap;}
        /* 允许单词内断句，首先会尝试挪到下一行，看看下一行的宽度够不够，
        不够的话就进行单词内的断句 */
        .breakword{word-wrap: break-word;}
        /* 断句时，不会把长单词挪到下一行，而是直接进行单词内的断句 */
        .breakAll{word-break:break-all;}
        /* 超出部分显示省略号 */
        .ellipsis{text-overflow:ellipsis;overflow:hidden;}
    </style>
</head>
<body>
<div class = "word">
    <p class = "nowrap">wordwrap:breakword;absavhsafhuafdfbjhfvsalguvfaihuivfs</p>
    <p class = "breakword">wordwrap:break-word;absavhsafhuafdfbjhfvsalguvfaihui</p>
    <p class = "breakAll">wordwrap:break-word;absavhsafhuafdfbjhfvsalguvfaihuivf</p>
    <p class = "normal">wordwrap:breakword;absavhsafhuafdfbjhfvsalguvfaihuivfsa</p>
    <p class = "ellipsis">wordwrap:breakword;absavhsafhuafdfbjhfvsalguvfaihuivfsab</p>
</div>
<div style="width: 250px;word-wrap: break-word;">
    水水水水水水水水水水水水水水水水水水水
</div>
</body>
</html>