<!DOCTYPE html>
<html ng-app='myApp'>
<head>
	<meta charset="utf-8">
	<title>jquery打开系统文件夹</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/angular.js"></script>
</head>
<body ng-controller='myCtrl'>
	<input id='test' type="text" ng-model='path'>
	<input id='testfile' type="file" style="display: none;">
    <button class="btn btn-primary" ng-click='chooseFile()'>choose</button>
    <script>
    	var myApp = angular.module('myApp',[]);
    	myApp.controller('myCtrl',function($scope,$timeout){
    		$scope.path = '';
            $scope.chooseFile = function(){
            	var choosepath = $('#testfile')
            	choosepath.click()
            	choosepath.unbind('change')
            	choosepath.change(function(evt) {
            		var path = $(this).val()
            		$(this).val('')
            		$timeout(function() {
            		   $scope.path = path
            	    }, 100);
            	})
            }
    	})
    </script>
</body>
</html>